<div id="details">
    <article class="description">
        <ul>
            <li>{{item.postcode}}</li>
            <li>{{item.desc}}</li>
            <li>{{item.info}}</li>
        </ul>
    </article>
    <article class="images">
        <ul ng-repeat="detail in item.images">
            <li id="myImg"><img src="app/scss/images/{{detail.image}}.jpg" alt="Smiley face">
            </li>
            <li><img id="myImg" src="app/scss/images/{{detail.image_kitchen}}.jpg" alt="Smiley face">
            </li>
            <li><img id="myImg" src="app/scss/images/{{detail.image_one}}.jpg" alt="Smiley face">
            </li>
            <li><img id="myImg" src="app/scss/images/{{detail.image_two}}.jpg" alt="Smiley face">
            </li>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </ul>
        <button ng-click="navigateBack()" class="btn btn-primary">Go Back</button>
    </article>
</div>