<div class="tabs-container">
    <div class="cart">
        <a href="#" class="cart-buttom">View your Favourites</a>
        <p ng-if="cart.length <= 0">Nothing saved in favourites</p>
        <article ng-repeat="(key, house) in cart track by key">
            <p>{{house.address}}</p>
        </article>
    <div id="hidden">
      <article ng-repeat="(key, house) in cart track by key">
       <ul>
         <li>{{house.quantity}}</li>
         <li>{{house.price | currency:"£"}}</li>
         <li><a href="#/products/{{house.id}}">
         <img src="app/scss/images/{{house.image}}.jpg" alt="Smiley face" height="50" width="120"></a>
         </li>
         <li>{{house.address}}</li>
         <li><button type="button" class="btn btn-primary" ng-click="deleteItem(house)">Delete item</button></li>
       </ul>
      </article>
      <p>Total of all properties: {{total() | currency:"£"}}</p>
   </div>
   </div>
   <div class="filters">
      <div class="labels">
         <label>
            Sort by
            <select ng-model="sortProp" class="input-medium">
               <option value=" ">all</option>
               <option value="num_of_beds">number of bedrooms</option>
               <option value="price">price</option>
               <option value="minutes">minutes from the nearest station</option>
            </select>
         </label>
         <label>
           Sort by property type
         <select ng-model="locationFilter" ng-options="l as l for l in found">
            <option value=" ">all</option>
         </select>
         </label>
      </div>
      <div class="inputs">
         <p>Prices from £100.00 to £250.00</p>
         <input type="checkbox" id="custom-input-one" ng-click="priceRanging( '100, 250')" ng-checked=" "/><label for="custom-input-one">
         </label>
      </div>
      <div class="inputs">
         <p>Prices from £260.00 to £350.00</p>
         <input type="checkbox" id="custom-input-two" ng-click="priceRanging( '260, 450')" ng-checked=" "/><label for="custom-input-two"></label>
      </div>
      <div class="inputs">
         <p>Prices from £460.00 to £990.00</p>
         <input type="checkbox" id="custom-input-three" ng-click="priceRanging( '460, 990')" ng-checked=" "/><label for="custom-input-three"></label>
      </div>
   </div>
   <div class="flex-grid-thirds">
      <article class="houseList slide" ng-repeat="value in myData | limitTo: limit | filter: (!!locationFilter || undefined) && {type: locationFilter} | filter: priceFilter | orderBy:sortProp">
         <ul>
            <li>
               <a href="#/products/{{value.id}}">
               View property details
               <img src="app/scss/images/{{value.image}}.jpg" alt="Smiley face ">
               </a>
            </li>
            <li><strong>{{value.address}}</strong></li>
            <li><strong>city:</strong> {{value.city}}</li>
            <li><strong>price:</strong> {{value.price | currency:"£"}}</li>
            <li><strong>number of bedrooms:</strong> {{value.num_of_beds}}</li>
            <li><strong>type of a house:</strong> {{value.type}}</li>
            <li><strong>minutes from the nearest station:</strong> {{value.minutes}}</li>
            <li><strong>Added:</strong> {{value.added}}</li>
            <li><button class="btn btn-info" ng-click="addItem(value)">Add to favourites</button></li>
         </ul>
      </article>
   </div>
   <button class="btn btn-default loadMore" ng-hide="limit===all.length" ng-click="loadMore()">Load More Properties</button>
</div>