body {
    -webkit-animation: fix infinite 1s;
}
@-webkit-keyframes fix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}
/* custom-dropdown */

#index {

nav[role="custom-dropdown"] {
    position: relative;
    width: 100%;
    top: -20px;
    input[type=checkbox] {
        top: -9999px;
        left: -9999px;
        position: relative;
    }
    label {
        display: none;
        cursor: pointer;
        user-select: none;
    }
    a,
    label {
        color: #ccc;
        text-decoration: none;
        transition: color .3s ease-in-out;
    }
    ul {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        list-style: none;
        > li {
            float: left;
            padding: 15px;
            width: 50%;
            background-color: black;
            font-weight: bolder;
            text-align: center;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
            transition-property: box-shadow, color;
            box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35);
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, .85);
                color: #fff;
                box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35), inset 0 0 0 2em rgba(0, 0, 0, .3);
                > a {
                    color: #fff;
                }
            }
        }
    }
}
    footer {
      background-color: black;
      height: 60px;
      padding: 5px;   
    }
}
@import "responsive";