/* small screens */
@media screen and (max-width: 44em) {
  html,
  body {
    margin:0;      
  }

  #index {

  nav[role="custom-dropdown"] {
    ul {
      display:none;
      height:100%;
    }

    label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 40px;
      padding: 20px;
      font-size: 1.1em;
      margin: 0;
      border: .15em solid rgba(60, 60, 60, .2);
      background-color: black;
    }
    
    label:after {
      position: absolute;
      right: .25em;  
      top: 0; 
      content:"\2261";
      font-size:1.8em;
    }
    
    input[type=checkbox]:checked ~ label:after {
      color:#222;
    }
        
    input[type=checkbox]:checked ~ ul {
      display:block;
        
      > li {
        width:100%;
        opacity:.8;
        text-align:left;
    
        &:after {
          position:absolute;
          right:.25em;
          content:"\203A";
          font-family: bold 1.4em "Lucida" Grande, sans-serif;;
        }
      }        
    }
  }
}
}