#index {
    #wrapper {
       .tabs-container {
       
          

.btn {
                          background-color: #000080;
                          padding: 10px;
                          font-weight: bold;
                          border-color: #000080;
                          color: white;
                          &:hover{
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                            text-decoration: none;
                            background-color: #4169E1;
                           }
                        }
                      
                    
                  }
                }
              }



