* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Lucida" Grande, sans-serif; }

body {
  margin: .0;
  background-color: #DCDCDC !important; }

a {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold; }

ul li {
  list-style: none; }

#index {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDF5E6; }
  #index #wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    overflow: hidden; }
    #index #wrapper #map-canvas {
      width: 90%;
      height: 500px;
      margin-right: auto;
      margin-left: auto;
      border: 3px solid grey; }
    #index #wrapper .tabs-container {
      position: relative;
      overflow: hidden;
      width: 100%; }
      #index #wrapper .tabs-container .cart {
        padding: 10px;
        border: 3px solid #C0C0C0;
        width: 50%;
        background-color: #FFFAF0;
        border-radius: 10px;
        text-align: center; }
        #index #wrapper .tabs-container .cart p {
          font-size: 17px;
          margin-top: 5px; }
        #index #wrapper .tabs-container .cart #hidden {
          list-style: none;
          border-top: 1px solid grey; }
          #index #wrapper .tabs-container .cart #hidden article {
            display: inline-flex; }
            #index #wrapper .tabs-container .cart #hidden article ul li {
              font-size: 17px;
              margin-top: 5px; }
      #index #wrapper .tabs-container .filters {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: auto;
        width: 90%; }
        #index #wrapper .tabs-container .filters .labels {
          width: 100%; }
          #index #wrapper .tabs-container .filters .labels label {
            font-size: 20px;
            margin-right: 15px; }
          #index #wrapper .tabs-container .filters .labels select {
            width: 100%;
            height: 34px;
            overflow: hidden;
            background-color: #FFFFF0;
            border: 2px solid black; }
        #index #wrapper .tabs-container .filters .inputs {
          width: 120px;
          height: 40px;
          background: #333;
          margin: 20px 0 0px;
          border-radius: 50px;
          position: relative; }
          #index #wrapper .tabs-container .filters .inputs input[type=checkbox] {
            visibility: hidden; }
          #index #wrapper .tabs-container .filters .inputs p {
            margin-left: 150px;
            width: 180%;
            position: relative;
            top: 0;
            font-size: 18px; }
          #index #wrapper .tabs-container .filters .inputs:before {
            content: '';
            position: absolute;
            top: 19px;
            left: 14px;
            height: 2px;
            width: 90px;
            background: #111; }
          #index #wrapper .tabs-container .filters .inputs label {
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            transition: all .5s ease;
            cursor: pointer;
            position: absolute;
            top: 9px;
            z-index: 1;
            left: 12px;
            background: #ddd; }
          #index #wrapper .tabs-container .filters .inputs input[type=checkbox]:checked + label {
            left: 84px;
            background: #26ca28; }
      #index #wrapper .tabs-container .flex-grid-thirds {
        margin-left: auto;
        width: 95%;
        margin-top: 40px;
        margin-bottom: 40px; }
        #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-move, #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-enter, #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-leave {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-leave.ng-leave-active,
        #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-move,
        #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-enter {
          opacity: 0; }
        #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-leave,
        #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-move.ng-move-active,
        #index #wrapper .tabs-container .flex-grid-thirds .slide.ng-enter.ng-enter-active {
          opacity: 1; }
        #index #wrapper .tabs-container .flex-grid-thirds .houseList {
          width: 45%;
          display: inline-flex;
          padding: 5px;
          margin: 10px 0 10px 0; }
          #index #wrapper .tabs-container .flex-grid-thirds .houseList ul li {
            list-style: none;
            font-size: 16px;
            line-height: 1.9; }
            #index #wrapper .tabs-container .flex-grid-thirds .houseList ul li a {
              font-size: 20px; }
            #index #wrapper .tabs-container .flex-grid-thirds .houseList ul li img {
              width: 100%;
              height: auto;
              border: 3px solid black;
              margin-top: 15px;
              margin-bottom: 15px;
              position: relative;
              border-radius: 7px; }
              #index #wrapper .tabs-container .flex-grid-thirds .houseList ul li img:hover {
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border: 3px solid #FDF5E6;
                opacity: 0.7; }
          #index #wrapper .tabs-container .flex-grid-thirds .houseList button {
            display: inherit;
            position: relative;
            margin-top: 10px; }
      #index #wrapper .tabs-container .loadMore {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 50px;
        top: 0px;
        bottom: 40px;
        position: relative;
        margin-bottom: 50px; }

@media screen and (max-width: 500px) {
  #index #wrapper .tabs-container .cart {
    width: 100%;
    float: none;
    padding: 5px; }
  #index #wrapper .tabs-container .filters {
    margin-top: 30px;
    margin-right: auto;
    width: 80%; }
    #index #wrapper .tabs-container .filters .inputs {
      margin: 40px 0 0px; }
      #index #wrapper .tabs-container .filters .inputs p {
        width: 140%;
        top: 0; }
  #index #wrapper .tabs-container .flex-grid-thirds {
    width: 90%;
    margin-left: 0; }
    #index #wrapper .tabs-container .flex-grid-thirds .houseList {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      display: block; }
      #index #wrapper .tabs-container .flex-grid-thirds .houseList .btn {
        width: 100%; }
  #index #wrapper .tabs-container .loadMore {
    width: 80%; } }

#index #wrapper .tabs-container .btn {
  background-color: #000080;
  padding: 10px;
  font-weight: bold;
  border-color: #000080;
  color: white; }
  #index #wrapper .tabs-container .btn:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background-color: #4169E1; }

body {
  -webkit-animation: fix infinite 1s; }

@-webkit-keyframes fix {
  from {
    padding: 0; }
  to {
    padding: 0; } }

/* custom-dropdown */
#index nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
  top: -20px; }
  #index nav[role="custom-dropdown"] input[type=checkbox] {
    top: -9999px;
    left: -9999px;
    position: relative; }
  #index nav[role="custom-dropdown"] label {
    display: none;
    cursor: pointer;
    user-select: none; }
  #index nav[role="custom-dropdown"] a,
  #index nav[role="custom-dropdown"] label {
    color: #ccc;
    text-decoration: none;
    transition: color .3s ease-in-out; }
  #index nav[role="custom-dropdown"] ul {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style: none; }
    #index nav[role="custom-dropdown"] ul > li {
      float: left;
      padding: 15px;
      width: 50%;
      background-color: black;
      font-weight: bolder;
      text-align: center;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      transition-property: box-shadow, color;
      box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
      cursor: pointer; }
      #index nav[role="custom-dropdown"] ul > li:hover {
        background-color: rgba(0, 0, 0, 0.85);
        color: #fff;
        box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3); }
        #index nav[role="custom-dropdown"] ul > li:hover > a {
          color: #fff; }

#index footer {
  background-color: black;
  height: 60px;
  padding: 5px; }

/* small screens */
@media screen and (max-width: 44em) {
  html,
  body {
    margin: 0; }
  #index nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%; }
  #index nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 20px;
    font-size: 1.1em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
    background-color: black; }
  #index nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em; }
  #index nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222; }
  #index nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block; }
    #index nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
      width: 100%;
      opacity: .8;
      text-align: left; }
      #index nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
        position: absolute;
        right: .25em;
        content: "\203A";
        font-family: bold 1.4em "Lucida" Grande, sans-serif; } }

#details {
  margin-left: auto;
  width: 90%; }
  #details .description {
    padding: 5px;
    margin-top: 30px;
    width: 90%; }
    #details .description ul li {
      font-size: 18px; }
  #details .images {
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 30px; }
    #details .images .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.9);
      /* Add Animation */ }
      #details .images .modal .modal-content {
        margin: auto;
        display: block;
        width: 50%;
        max-width: 70%;
        border: 5px solid lightgrey;
        border-radius: 7px; }
      #details .images .modal .block {
        display: block; }
      #details .images .modal .modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
      #details .images .modal .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 70px;
        font-weight: bold;
        transition: 0.3s;
        opacity: 0.6; }
      #details .images .modal .close:hover,
      #details .images .modal .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer; }
    #details .images ul li {
      display: inline;
      margin-right: 25px; }
      #details .images ul li img {
        width: 40%;
        height: auto;
        border: 3px solid black;
        margin-top: 15px;
        margin-bottom: 15px;
        position: relative;
        border-radius: 7px;
        cursor: pointer; }
        #details .images ul li img:hover {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          border: 3px solid #FDF5E6;
          opacity: 0.7; }
    #details .images .btn {
      background-color: #000080;
      padding: 10px;
      font-weight: bold;
      border-color: #000080;
      color: white;
      margin-left: 40px;
      margin-top: 30px;
      width: 150px; }
      #details .images .btn:hover {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        background-color: #4169E1; }

@media screen and (max-width: 768px) {
  #details {
    width: 95%; } }

@media screen and (max-width: 500px) {
  #details {
    margin-left: 0;
    margin-right: 0;
    width: 90%; }
    #details .description {
      width: 100%; }
    #details .images ul li img {
      width: 100%; } }
