* {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Lucida" Grande, sans-serif;
}
body {
    margin: .0;
    background-color: #DCDCDC !important;
}
a {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
ul {
    li {
        list-style: none;
    }
}
#index {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FDF5E6;
    #wrapper {
        position: relative;
        width: 100%;
        padding: 0;
        overflow: hidden;
        overflow: hidden;
        #map-canvas {
            width: 90%;
            height: 500px;
            margin-right: auto;
            margin-left: auto;
            border: 3px solid grey;
        }
        .tabs-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            .cart {
                padding: 10px;
                border: 3px solid #C0C0C0;
                width: 50%;
                background-color: #FFFAF0;
                border-radius: 10px;
                text-align: center;
                p {
                    font-size: 17px;
                    margin-top: 5px;
                }
                #hidden {
                    list-style: none;
                    border-top: 1px solid grey;
                    article {
                        display: inline-flex;
                        ul {
                            li {
                                font-size: 17px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
            .filters {
                margin-bottom: 20px;
                margin-top: 20px;
                margin-left: auto;
                width: 90%;
                .labels {
                    width: 100%;
                    label {
                        font-size: 20px;
                        margin-right: 15px;
                    }
                    select {
                        width: 100%;
                        height: 34px;
                        overflow: hidden;
                        background-color: #FFFFF0;
                        border: 2px solid black;
                    }
                }
                .inputs {
                    width: 120px;
                    height: 40px;
                    background: #333;
                    margin: 20px 0 0px;
                    border-radius: 50px;
                    position: relative;
                    input[type=checkbox] {
                        visibility: hidden;
                    }
                    p {
                        margin-left: 150px;
                        width: 180%;
                        position: relative;
                        top: 0;
                        font-size: 18px;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: 19px;
                        left: 14px;
                        height: 2px;
                        width: 90px;
                        background: #111;
                    }
                    label {
                        display: block;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        transition: all .5s ease;
                        cursor: pointer;
                        position: absolute;
                        top: 9px;
                        z-index: 1;
                        left: 12px;
                        background: #ddd;
                    }
                    input[type=checkbox]:checked + label {
                        left: 84px;
                        background: #26ca28;
                    }
                }
            }
            .flex-grid-thirds {
                margin-left: auto;
                width: 95%;
                margin-top: 40px;
                margin-bottom: 40px;
                .slide.ng-move, .slide.ng-enter, .slide.ng-leave {
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                .slide.ng-leave.ng-leave-active,
                .slide.ng-move,
                .slide.ng-enter {
                    opacity: 0;
                }
                .slide.ng-leave,
                .slide.ng-move.ng-move-active,
                .slide.ng-enter.ng-enter-active {
                    opacity: 1;
                }
                .houseList {
                    width: 45%;
                    display: inline-flex;
                    padding: 5px;
                    margin: 10px 0 10px 0;
                    ul {
                        li {
                            list-style: none;
                            font-size: 16px;
                            line-height: 1.9;
                            a {
                                font-size: 20px;
                            }
                            img {
                                width: 100%;
                                height: auto;
                                border: 3px solid black;
                                margin-top: 15px;
                                margin-bottom: 15px;
                                position: relative;
                                border-radius: 7px;
                                &:hover {
                                    -webkit-transition: all 0.3s ease-in-out;
                                    -moz-transition: all 0.3s ease-in-out;
                                    -o-transition: all 0.3s ease-in-out;
                                    transition: all 0.3s ease-in-out;
                                    border: 3px solid #FDF5E6;
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                    button {
                        display: inherit;
                        position: relative;
                        margin-top: 10px;
                    }
                }
            }
            .loadMore {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-top: 50px;
                top: 0px;
                bottom: 40px;
                position: relative;
                margin-bottom: 50px;
            }
        }
    }
}
@import "responsive";
@import "components/_buttons";