@media screen and (max-width: 500px) {
    #index {
        #wrapper {
            .tabs-container {
                .cart {
                    width: 100%;
                    float: none;
                    padding: 5px;
                }
                .filters {
                    margin-top: 30px;
                    margin-right: auto;
                    width: 80%;
                    .inputs {
                        margin: 40px 0 0px;
                        p {
                            width: 140%;
                            top: 0;
                        }
                    }
                }
                .flex-grid-thirds {
                    width: 90%;
                    margin-left: 0;
                    .houseList {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0;
                        display: block;
                        .btn {
                            width: 100%;
                        }
                    }
                }
                .loadMore {
                    width: 80%;
                }
            }
        }
    }
}