#details {
    margin-left: auto;
    width: 90%;
    .description {
        padding: 5px;
        margin-top: 30px;
        width: 90%;
        ul {
            li {
                font-size: 18px;
            }
        }
    }
    .images {
        width: 100%;
        padding: 5px;
        margin-bottom: 30px;
        margin-top: 30px;
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
            .modal-content {
                margin: auto;
                display: block;
                width: 50%;
                max-width: 70%;
                border: 5px solid lightgrey;
                border-radius: 7px;
            }
            .block {
                display: block;
            }
            /* Add Animation */
            
            .modal-content {
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 0.6s;
                animation-name: zoom;
                animation-duration: 0.6s;
            }
            @-webkit-keyframes zoom {
                from {
                    -webkit-transform: scale(0)
                }
                to {
                    -webkit-transform: scale(1)
                }
            }
            @keyframes zoom {
                from {
                    transform: scale(0)
                }
                to {
                    transform: scale(1)
                }
            }
            .close {
                position: absolute;
                top: 15px;
                right: 35px;
                color: #f1f1f1;
                font-size: 70px;
                font-weight: bold;
                transition: 0.3s;
                opacity: 0.6;
            }
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        }
        ul {
            li {
                display: inline;
                margin-right: 25px;
                img {
                    width: 40%;
                    height: auto;
                    border: 3px solid black;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    position: relative;
                    border-radius: 7px;
                    cursor: pointer;
                    &:hover {
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        border: 3px solid #FDF5E6;
                        opacity: 0.7;
                    }
                }
            }
        }
        .btn {
            background-color: #000080;
            padding: 10px;
            font-weight: bold;
            border-color: #000080;
            color: white;
            margin-left: 40px;
            margin-top: 30px;
            width: 150px;
            &:hover {
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                text-decoration: none;
                background-color: #4169E1;
            }
        }
    }
}
@import "responsive";