@media screen and (max-width: 768px) {
#details {
	width: 95%;
 
  .images {
 
   ul {
     li {
       
      img {
           
         }
       }
     }
   }
 }
 }


@media screen and (max-width: 500px) {
#details {
	margin-left: 0;
	margin-right: 0;
	width: 90%;
  .description {
  	width: 100%;
  }
  .images {
 
   ul {
     li {
       
      img {
           width: 100%;
         }
       }
     }
   }
 }
 }
 
